services:
  # =====================
  # Base image for Java (build only)
  # =====================
  java-base-builder:
    build:
      context: ./infra/base-java
    image: ka-base-java:latest
    entrypoint: ["echo", "Java base image built."]

  # =====================
  # FRONTEND (Vue.js + Nginx)
  # =====================
  frontend:
    build:
      context: ./ka-front
    container_name: ka-frontend
    networks:
      - ka-network
      - ka-proxy-network

  # =====================
  # KEYCLOAK (Java + Postgres)
  # =====================
  keycloak-db:
    image: postgres:17
    container_name: ka-keycloak-db
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: keycloak
    volumes:
      - keycloak_pgdata:/var/lib/postgresql/data
    networks:
      - ka-network
    restart: unless-stopped

  keycloak:
    build: ./keycloak
    container_name: ka-keycloak
    environment:
      # Admin Keycloak
      KEYCLOAK_ADMIN: ${KEYCLOAK_ADMIN}
      KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD}

      # Base de données
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://keycloak-db:5432/keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: keycloak

      # Hostname (utilisé par le script interne)
      KEYCLOAK_HOSTNAME: ${KEYCLOAK_HOSTNAME}
    depends_on:
      - keycloak-db
    networks:
      - ka-network
      - ka-proxy-network
    restart: unless-stopped

  # =====================
  # BACKEND (Spring Boot)
  # =====================
  backend:
    build:
      context: ./ka-back
    container_name: ka-backend
    environment:
      SPRING_APPLICATION_NAME: ka-back
      KEYCLOAK_ISSUER: ${KEYCLOAK_ISSUER}
    depends_on:
      - java-base-builder
    ports:
      - "${BACK_PORT}:5027"
    networks:
      - ka-network
      - ka-proxy-network

  # =====================
  # SMTP Gateway (Node.js)
  # =====================
  ka-smtp-gateway:
    container_name: ka-smtp-gateway
    build:
      context: ../ka-smtp-gateway
    env_file:
      - ../ka-smtp-gateway/.env.prod
    networks:
      - ka-network

  # =====================
  # MAILER (Spring Boot)
  # =====================
  ka-mailer:
    build:
      context: ./ka-mailer
    container_name: ka-mailer
    environment:
      SPRING_APPLICATION_NAME: ka-mailer
      KEYCLOAK_ISSUER: ${KEYCLOAK_ISSUER}
    depends_on:
      - java-base-builder
    networks:
      - ka-network
      - ka-proxy-network

volumes:
  keycloak_pgdata:

networks:
  ka-network:
    name: ka-network
  ka-proxy-network:
    external: true
