services:
  # =====================
  # Base image for Java (build only)
  # =====================
  java-base-builder:
    build:
      context: ./infra/base-java
    image: ka-base-java:latest

  # =====================
  # FRONTEND (Vue.js + Nginx)
  # =====================
  frontend:
    container_name: ka-front
    build:
      context: ./ka-front
      args:
        VITE_KEYCLOAK_URL: ${KEYCLOAK_URL}
    env_file:
      - ./ka-front/.env.prod
    depends_on:
      - backend
    networks:
      - ka-network
      - ka-proxy-network

  # =====================
  # KEYCLOAK (Java + Postgres)
  # =====================
  keycloak-db:
    image: postgres:17
    container_name: ka-keycloak-db
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: keycloak
    volumes:
      - keycloak_pgdata:/var/lib/postgresql/data
    networks:
      - ka-network
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U keycloak -d keycloak"]
      interval: 10s
      timeout: 5s
      retries: 5

  keycloak:
    container_name: ka-keycloak
    build:
      context: ./keycloak
    env_file:
      - ./keycloak/aaa.env.local.prod
    environment:
      # Base de données
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://keycloak-db:5432/keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: keycloak
    ports:
      - 8080:8080
    depends_on:
      keycloak-db:
        condition: service_healthy
    networks:
      - ka-network
      - ka-proxy-network
    restart: unless-stopped

  # =====================
  # BACKEND (Spring Boot)
  # =====================
  backend:
    container_name: ka-backend
    build:
      context: ./ka-back
    environment:
      SPRING_APPLICATION_NAME: ka-back
      KEYCLOAK_ISSUER: ${KEYCLOAK_ISSUER}
    depends_on:
      java-base-builder:
        condition: service_completed_successfully
    networks:
      - ka-network
      - ka-proxy-network

  # =====================
  # SMTP Gateway (Node.js)
  # =====================
  ka-smtp-gateway:
    container_name: ka-smtp-gateway
    build:
      context: ./ka-smtp-gateway
    env_file: # à voir pourquoi ?
      - ./ka-smtp-gateway/aaa.env.local.prod
    networks:
      - ka-network

  # =====================
  # MAILER (Spring Boot)
  # =====================
  ka-mailer:
    build:
      context: ./ka-mailer
    container_name: ka-mailer
    environment:
      SPRING_APPLICATION_NAME: ka-mailer #pourquoi ?
    env_file:
      - ./ka-mailer/aaa.env.local #à voir pourquoi ?
    depends_on:
      java-base-builder:
        condition: service_completed_successfully
    networks:
      - ka-network
      - ka-proxy-network

volumes:
  keycloak_pgdata:

networks:
  ka-network:
    name: ka-network
  ka-proxy-network:
    external: true
