// spacings
$spacing-xs: 0.25rem;
$spacing-s: 0.5rem;
$spacing-m: 1rem;
$spacing-l: 1.5rem;
$spacing-xl: 2rem;

// colors
$color-primary: #ccc;
$color-accent: #fff;


// borders
$border-width-s: 1px;

