spring:
  mail:
    host: ${SMTP_HOST:localhost}
    port: ${SMTP_PORT:1026}
    username: ${SMTP_USERNAME:ka}
    password: ${SMTP_PASSWORD}
    properties:
      mail.smtp.auth: ${SMTP_AUTH:false}
      mail.smtp.ssl.enable: ${SMTP_SSL:false}

server:
  port: 5030