server:
  port: 5080

spring:
  cloud:
    gateway:
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins:
              - ${APP_URL:http://localhost:5173}
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders:
              - Authorization
              - Content-Type
            allowCredentials: true
      server:
        webmvc:
          routes:
          - id: backend
            uri: ${BACK_URL:http://localhost:5027}
            predicates:
              - Path=/api/**
            filters:
              - StripPrefix=1

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_ISSUER:http://host.docker.internal:5028/realms/kaserv}

