server:
  port: 5080

logging:
  level:
    org.springframework.web.cors: DEBUG
    org.springframework.cloud.gateway: DEBUG

spring:
  cloud:
    gateway:
      server:
        webmvc:
          routes:
            - id: backend
              uri: http://localhost:5027
              predicates:
                - Path=/api/**
              filters:
                - StripPrefix=1
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_ISSUER:http://host.docker.internal:5028/realms/kaserv}

