/* Style de base pour le formulaire */
#kc-content {
	max-width: 500px;
	margin: 0 auto;
	padding: 20px;
	background-color: #aaaaaa33;
	backdrop-filter: blur(1px);
	color: #fff;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-pf {
	background-color: transparent;
	box-shadow: none;
}

form {
	font-family: Arial, sans-serif;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

a {
	color: #fff;
	text-decoration: underline;
}

/* Style pour les labels */
form label {
	font-weight: bold;
	margin-bottom: 8px;
	color: #fff;
}

#input-error,
.pf-m-error {
	color: #ff0000;
	font-weight: 600;
}

/* Style pour les champs de texte */
form input[type="text"],
form input[type="password"] {
	width: 100%;
	padding: 10px;
	border: 1px solid #555;
	border-radius: 5px;
	font-size: 16px;
	background-color: #ffffff33;
	color: #fff;
	box-sizing: border-box;
	transition: border-color 0.3s, background-color 0.3s;
}

form input[type="text"]:focus,
form input[type="password"]:focus {
	border-color: #007bff;
	background-color: #555;
	outline: none;
}

/* Style pour le bouton de soumission */
form input[type="submit"] {
	width: 100%;
	padding: 10px;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s;
}

form input[type="submit"]:hover {
	background-color: #0056b3;
}

/* Style pour le bouton "Show password" */
form button[type="button"] {
	background: none !important;
	border: none;
	cursor: pointer;
	position: absolute;
	right: 0.3rem;
	top: 0.3rem;
	bottom: 0.3rem;
	font-size: 16px;
	color: #007bff;
	padding: 0.2rem 0.4rem;
}

form button[type="button"]:hover {
	color: #0056b3;
}

/* Style pour les icônes */
form i {
	font-size: 18px;
}

/* Style pour l'alignement des éléments à l'intérieur du formulaire */
form . {
	position: relative;
}

#kc-form-options,
#kc-form-buttons {
	text-align: center;
}

.back-to-login {
	text-align: center;
	margin-top: 20px;
	font-size: 15px;
}

#kc-page-title {
	color: white;
	text-align: center;
}

#kc-info {
	text-align: center;
}

/* Style de fond pour la page */
body {
	background-color: #242424;
	margin: 0;
	font-family: Arial, sans-serif;
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.main-content {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.app-header {
	display: none;
	justify-content: space-between;
	align-items: center;
	background-color: #1e1e2f;
	padding: 1rem 2rem;
	border-bottom: 1px solid #2a2a3b;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
	color: #f1f1f1;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.app-header h1 {
	cursor: pointer;
	font-size: 1.4rem;
	color: #66d9ef;
	transition: color 0.2s ease;
	display: block;
	margin-block-start: 0.83em;
	margin-block-end: 0.83em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: bold;
	unicode-bidi: isolate;
}

.app-header h1:hover {
	color: #a6e3e9;
}

.pf-c-input-group {
	position: relative;
	background: transparent;

	.pf-m-control::after {
		border: none;
	}
}

.login-pf-page .login-pf-settings {
	font-size: 15px;
}

.pf-c-form-control:not(textarea) {
	height: initial;
}

.pf-c-form-control[aria-invalid="true"] {
	border: 1px solid red !important;
	background: none;
}

.login-pf-page .login-pf-signup {
	margin: 0;
}

.login-pf-page .card-pf * {
	color: white !important;
}

.login-pf .card-pf {
	flex: 1;
	padding: 0;
	margin: 0;
}

.login-pf-page {
	padding: 0;
}

.login-pf #kc-form-image {
	flex: 0 0 auto;
	display: flex;
}

.login-pf #kc-form-image img {
	height: 100vh;
	object-fit: cover;
}


.login-pf,
.login-pf body {
	background: #242424;
	height: 100%;
	margin: 0;
}

.pf-c-alert {
	display: flex;
	align-items: center;
	background-color: #ffaa0033;
	border-left: 4px solid #ffaa00;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 20px;
}

.pf-c-alert__icon {
	margin-right: 10px;
	font-size: 1.5rem;
	color: #ffaa00;
}

.kc-feedback-text {
	font-weight: bold;
}

.instruction {
	color: #fff;
	font-size: 1rem;
	text-align: center;
	margin-bottom: 15px;
}
